.hero {
    min-height: 600px;
    max-height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
                        url("../img/background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
	background-color:white;
}
.container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
}
.rounded-start {
    max-height: 200px;
}
.bg-body-tertiary {
    border-bottom: 7px solid #f28c73;
    background-color:white!important;
}
.custom-card {
    background-color: rgba(255,255,255,0.9);
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}
.width200{
	width:200px;
}

#map {
    height: 400px;
}
.mt-120{
	margin-top:120px;
}
.autocomplete-results {
    z-index: 1000;
    max-height: 220px;
    overflow-y: auto;
    display: none;
}
.displayblock{
	display:block;
}
.custom-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}
.col-md-2.bord-left {
    border-left: 2px dashed #d2d2d2;
}
.col-md-6.prodotto{
	padding-right: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.col-md-2.border-right {
    border-right: 2px dashed #d2d2d2;
}

/*
button.btn.btn-outline-dark.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #d2d2d2;
    padding: 0px;
}
*/
