.hero {
    min-height: 600px;
    max-height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
                        url("../img/background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbaruser{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 110px;
}
.container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
}
.rounded-start {
    max-height: 200px;
}
.bg-body-tertiary {
    border-bottom: 7px solid #f28c73;
    background-color:white!important;
}
.custom-card {
    background-color: rgba(255,255,255,0.9);
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}
.width200{
	width:200px;
}

#map {
    height: 400px;
}
.mt-130{
	margin-top:130px;
}
.autocomplete-results {
    z-index: 1000;
    max-height: 220px;
    overflow-y: auto;
    display: none;
}
.displayblock{
	display:block;
}
.dnone{
	display:none;
}
.custom-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}
.col-md-2.bord-left {
    border-left: 1px solid #d2d2d2;
}
.col-md-6.prodotto{
	padding-right: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.col-md-2.border-right {
    border-right: 1px solid #d2d2d2;
}
.opacityhover:hover{
	background-color: #5e5e5e1c;
}
.ricerca{
	border-bottom: 1px dashed #d2d2d2;
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.ricerca:last-child{
	border:none;
}
.bnone{
	border:none;
}
.card.noborder {
    border: none;
}
.img-thumbnail{
	border:none;
}
.dropdown-menu.show{
	border:none;
}
.boxcart{
	border-bottom: 1px dashed #696969;
    padding: 4px 0;
}
.boxcart:last-child{
	border:none;
}
.textFarmacia{
	font-weight: 700;
    font-size: 14px;
}
.boxdatacart{
	font-size: smaller;
}
.col:first-child{
	padding-left:0;
}
h3 {
    font-size: 1.4em;
    font-weight: 900;
    color: #212529;
}
.imagecenter{
	text-align:center;
}
.width70 {
    width: 70px;
}
.table{
	vertical-align: middle;
}
tr:last-child{
	border: white;
}
.textTotale {
    font-weight: bold;
    font-size: 1.2em;
}
.ml-auto{
	margin-left: auto;
}
/*
button.btn.btn-outline-dark.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #d2d2d2;
    padding: 0px;
}
*/
